# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Law Learner's Desk
author: lawlernersdesk
# email: lawlernersdesk[at]gmail[dot]com
description: > # this means to ignore newlines until "baseurl:"
  Your space for learning the legal concepts in interesting ways
baseurl: "/lawlearnersdesk.github.io" # the subpath of your site, e.g. /blog
url: "https://marikannan.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: lawlernersdesk
github_username: lawlernersdesk 

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# 2026-02-16 : added to generate for table of contents
kramdown:
  toc_levels: 1..6

# 2026-02-16 : added to fix the date issue. for all posts same date is shown in index/home
timezone: Asia/Kolkata


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
